@model MVCClient.ViewModels.Helpers.ICommodityCategoryDropDownViewModel

<div class="div-row">
    <div class="form-group1">
        @Html.LabelFor(model => model.CommodityCategoryID, htmlAttributes: new { @class = "control-label-left" })
        <div class="div-input">
            @Html.Kendo().DropDownListFor(m => m.CommodityCategoryID).BindTo(Model.CommodityCategoryDropDown).HtmlAttributes(new { @class = "input-class" })
            @Html.ValidationMessageFor(model => model.CommodityCategoryID, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

