@model MVCClient.ViewModels.Helpers.IPriceTermDropDownViewModel

<div class="div-row">
    <div class="form-group1">
        @Html.LabelFor(model => model.PriceTermID, htmlAttributes: new { @class = "control-label1" })
        <div class="div-input">
            @Html.Kendo().DropDownListFor(m => m.PriceTermID).BindTo(Model.PriceTermDropDown).HtmlAttributes(new { @class = "input-class1" })            
        </div>
        <div class="div-validation-message">
            @Html.ValidationMessageFor(model => model.PriceTermID, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

