@model MVCClient.ViewModels.Helpers.IWarehouseAutoCompleteViewModel

<div class="warehouse-lmargin" style="padding-top: 60px;">
    <div class="div-row3">
        <div class="div-input" style="margin-left: 0px;">
            @Html.Kendo().MaskedTextBoxFor(model => model.WarehouseName).HtmlAttributes(new { @class = "input-class1", @readonly = "readonly" })
        </div>

        @Html.Partial("~/Views/Helpers/Commons/_WarehouseDescription.cshtml")
    </div>
</div>
