@using MVCClient.Configuration
@model MVCClient.ViewModels.SalesTasks.VehiclesInvoiceViewModel


<div>
    @(Html.Kendo().Grid<MVCDTO.SalesTasks.VehiclesInvoicePrimitiveDTO>()
            .Name("kendoGridIndex")
            .Columns(columns =>
            {
                columns.Bound(p => p.SalesInvoiceID).DisplayNameTitle().Hidden();
                columns.Bound(p => p.Remarks).Title("").Width(10);
                columns.Bound(p => p.EntryDate).DisplayNameTitle().Format("{0:D}").Width(110);
                columns.Bound(p => p.VATInvoiceNo).DisplayNameTitle().Width(40);
                columns.Bound(p => p.CustomerName).DisplayNameTitle().Width(470);
                columns.Bound(p => p.Description).DisplayNameTitle().Width(210);
                columns.Bound(p => p.TotalGrossAmount).DisplayNameTitle().Format("{0:n0}").HtmlAttributes(new { @class = "grid-number-column" }).Filterable(false).Width(115);//.ClientFooterTemplate("TC: #= kendo.format('{0:n0}', sum) #").FooterHtmlAttributes(new { @class = "grid-number-column" })

                columns.Template(model => null).Width(90)
                    .ClientTemplate("<a class='k-button' style='padding-left:5px; min-width:28px; width:28px' href='" + Url.RouteUrl("Default", new { controller = "VehiclesInvoices", action = "Edit" }) + "/#= SalesInvoiceID #'><span class='k-icon k-edit'></span></a> <a class='k-button' style='padding-left:0px; padding-right:0px; min-width:28px; width:28px' href='" + Url.RouteUrl("Default", new { controller = "VehiclesInvoices", action = "Delete" }) + "/#= SalesInvoiceID #'><span class='k-icon k-delete'></span></a>");

            })
            .ToolBar(toolbar => toolbar.Custom().Action("Create", "VehiclesInvoices"))
            .Pageable()
            .Groupable()
            .Filterable()
            .Selectable()
            .Sortable()
            .Events(e =>
            {
                e.DataBound("hightLightSelectedRow");
            })
            .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("GetVehiclesInvoices", "VehiclesInvoiceApi"))
                        .Sort(sort =>
                            {
                                sort.Add(p => p.EntryDate).Descending();
                                sort.Add(p => p.SalesInvoiceID).Descending();
                            })
                        //.Events(events => events.Error("onError"))
                        .PageSize(20)
                        .Model(model =>
                        {
                            model.Id(x => x.SalesInvoiceID);
                            model.Field(m => m.SalesInvoiceID).DefaultValue(0);
                        })
                        .ServerOperation(true)
                        //.Aggregates(a => a.Add(x => x.TotalGrossAmount).Sum())
                    ).HtmlAttributes(new { @class = "grid-class" }))
</div>



<script type="text/javascript">
    function hightLightSelectedRow(e) {
        require(["kindexGrid"], function (kindexGrid) {
            var kindexGridInstance = new kindexGrid("kendoGridIndex");
            kindexGridInstance.setSelectedRow("SalesInvoiceID", @ViewBag.SelectedEntityID);
        });
    }
</script>