@using MVCClient.Configuration
@using MVCModel.Models;


@{Layout = "~/Views/Shared/_LayoutPopupWindow.cshtml";}


@using (Html.BeginForm())
{

    <div class="div-notabstrip">
        <div class="tabstrip-workspace">

            <div class="div-find" style="margin-bottom:8px;">
                <input id="CommoditySearchBox" class="k-textbox" onkeyup="CommoditySearchBox_KeyUp()" />
                <input id="CommoditySearchButton" type="button" class="k-button" value="Tìm" onclick="CommoditySearchButton_Click()" />
            </div>

            <div>
                @(Html.Kendo().Grid<ServiceContractGetVehiclesInvoice>()
                    .Name("gridVehiclesInvoices")
                            .Columns(columns =>
                            {                                
                                columns.Bound(c => c.EntryDate).Title("Ngày mua").Width(80).Format("{0:" + SettingsManager.DateFormat + "}");
                                columns.Bound(c => c.CustomerName).Title("Tên khách hàng").Width(160);
                                columns.Bound(c => c.CommodityName).Title("Loại xe").Width(160);
                                columns.Bound(c => c.ChassisCode).Title("Số khung").Width(80);
                                columns.Bound(c => c.EngineCode).Title("Số máy").Width(80);
                                columns.Bound(c => c.ColorCode).Title("Mã màu").Width(80);
                            })
                            .Scrollable(s => s.Height(SettingsManager.GridPopupNoTabHeight))
                            .DataSource(ds => ds.Ajax()
                            .Read(read => read.Action("ServiceContractGetVehiclesInvoice", "ServiceContractsApi").Data("onAdditionalGetVehiclesInvoices"))
                            .ServerOperation(true))
                            .Selectable())
            </div>


        </div>
    </div>

    <div class="div-popup-button">
        <input id="okButton" type="button" value="Next" class="k-button" onclick="okButton_Click()" />
        <input id="okWOSelectButton" type="button" value="Next without select" class="k-button" onclick="okWOSelectButton_Click()" />
        <input id="cancelButton" type="button" value="Cancel" class="k-button" onclick="cancelButton_Click()" />
    </div>
}


<link href="@Url.Content("~/Content/CustomCss/GeneralPopup.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/Helpers/SalesTasks/serviceContractCreateWizard.js")"></script>

<script type="text/javascript">

    function onAdditionalGetVehiclesInvoices(e) {
        return {
            locationID: window.parent.requireConfig.pageOptions.LocationID,
            searchText: $("#CommoditySearchBox").val(),
            salesInvoiceID: 0,
            serviceContractID: window.parent.$("#ServiceContractID").val()
        };
    }

    function CommoditySearchButton_Click() {
        $("#gridVehiclesInvoices").data("kendoGrid").dataSource.read();
    }

    function CommoditySearchBox_KeyUp() {
        if ($("#CommoditySearchBox").val().length >= "@SettingsManager.AutoCompleteMinLenght") {
            $("#gridVehiclesInvoices").data("kendoGrid").dataSource.read();
        }
    }


    $("#gridVehiclesInvoices").dblclick(function (e) {
        okButton_Click();
    })

    function okButton_Click() {
        handleOKEvent(0);
    }

    function okWOSelectButton_Click() {
        handleOKEvent();
    }

</script>
