@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();

    ViewBag.urlAction = @Url.Action("CreateWizard", "PartTransfers");
    
    <div>
        @(Html.Kendo().Grid<MVCDTO.StockTasks.PartTransferPrimitiveDTO>()
            .Name("kendoGridIndex")
            .Columns(columns =>
            {
                columns.Bound(p => p.StockTransferID).DisplayNameTitle().Hidden();
                columns.Bound(p => p.Reference).DisplayNameTitle().Width(100);
                columns.Bound(p => p.EntryDate).DisplayNameTitle().Format("{0:d}").Width(80);
                columns.Bound(p => p.TransferOrderReference).DisplayNameTitle().Width(120);
                columns.Bound(p => p.TransferOrderEntryDate).DisplayNameTitle().Format("{0:d}").Width(80);
                columns.Bound(p => p.TransferOrderRequestedDate).DisplayNameTitle().Format("{0:d}").Width(80);
                columns.Bound(p => p.WarehouseID).DisplayNameTitle().Hidden();
                columns.Bound(p => p.WarehouseName).DisplayNameTitle().Width(120);
                columns.Bound(p => p.Description).DisplayNameTitle().Width(120);
                columns.Bound(p => p.TotalQuantity).DisplayNameTitle().Format("{0:n0}").Filterable(false).Width(80).ClientFooterTemplate("TC: #= kendo.format('{0:n0}', sum) #").FooterHtmlAttributes(new { @class = "grid-number-column" });
                columns.Bound(p => p.Remarks).Title("Ghi chú").Filterable(false).Width(100);

                columns.Template(model => null).Width(86)
                    .ClientTemplate("<a class='k-button' style='padding-left:5px; min-width:28px; width:28px' href='" + Url.RouteUrl("Default", new { controller = "PartTransfers", action = "Edit" }) + "/#= StockTransferID #'><span class='k-icon k-edit'></span></a> <a class='k-button' style='padding-left:0px; padding-right:0px; min-width:28px; width:28px' href='" + Url.RouteUrl("Default", new { controller = "PartTransfers", action = "Delete" }) + "/#= StockTransferID #'><span class='k-icon k-delete'></span></a>");
                
            })
            .ToolBar(toolbar => toolbar.Template("<a class='k-button k-button-icontext k-grid-add' href='javascript:void(0)' onClick='createWizard()'>Create</a>"))
            .Pageable()
            .Groupable()
            .Filterable()
            .Selectable()
            .Sortable()
            .Events(e =>
            {
                e.DataBound("hightLightSelectedRow");
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("GetPartTransfers", "PartTransferApi"))
                .Sort(sort =>
                    {
                        sort.Add(p => p.EntryDate).Descending();
                        sort.Add(p => p.StockTransferID).Descending();
                    })
                //.Events(events => events.Error("onError"))
                .PageSize(20)
                .Model(model =>
                {
                    model.Id(x => x.StockTransferID);
                    model.Field(m => m.StockTransferID).DefaultValue(0);
                })
                .ServerOperation(true)
                .Aggregates(a => a.Add(x => x.TotalQuantity).Sum())
                ).HtmlAttributes(new { @class = "grid-class" }))
    </div>

    @Html.Partial("~/Views/StockTransfers/_Index.cshtml");
}

